/* set generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}


/* header-top */

.container-list {
    display: flex;
    height: 70px;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 12;
}

.navbar-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    width: 100%;
    white-space: nowrap;
}

.ul-top {
    display: flex;
}

.ul-top li{
    list-style: none;
    align-items: center;
    margin: 1rem;
}

.ul-top a {
    text-decoration: none;
    color: black;
    height: 100%;
}


/* header-mix */

.ul-top .btn-top, .btn-prova {
    background-color: #0061FF;
    color: white;
    padding: 10px 20px;
}

.box-shadow {
    box-shadow: 0 0 5px 0 black;
}


/* header-bottom */

.container {
    padding-top: 70px;
    background-color: #B4D0E7;
}

.container-header {
    padding-top: 100px;
    max-width: 1200px;
    margin: auto;
}

.container-header h1 {
    font-size: 4.5em;
    font-weight: 800;
}

.flex-top {
    margin-top: 100px;
    display: flex;
}

.container-prova {
    width: 40%;
}

.container-img {
    position: relative;
    width: 100%;
}

.container-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.margin-bot {
    padding-bottom: 40px;
    line-height: 1.5em;
}

.arrow-down {
    padding: 10px 10px 0 0;
    font-size: 4em;
}

.btn-prova {
    white-space: nowrap;

}




/* main */

.container-main-top, .container-main-center {
    max-width: 1000px;
    margin: 150px auto 0;
}


/* main-top */

main h2 {
    font-size: 3em;
}

.radio-check {
    padding-top: 3em;
}

.radio-margin {
    margin-left: 40px;
}

.container-main-top-columns {
    margin-top: 3em;
    display: flex;
    width: 100%;
}

.section-column {
    margin-left: 50px;
}

.section-general {
    width: 70%;
    border: 1px solid rgb(210, 210, 210);
}

.section-up {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(210, 210, 210);
}

.section-down {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 0.95em;
}

.section-down h3, .container-main-top-ulist h3, .container-main-center-top h3 {
    font-size: 20pt;
}

.section-down ul {
    display: flex;
}

.section-down li {
    list-style: none;
    line-height: 1.5em;
} 

.fa-solid {
    color: #0061FF;
    font-weight: 800;
}
.margin-left {
    margin-left: 7px;
}

.margin25-section {
    margin-bottom: 25px;
}

.margin50-section {
    margin-bottom: 50px;
}

.price {
    margin-bottom: 20px;   
}

.period {
    margin-bottom: 55px;
    color: grey;
}

.border-width {
    margin: 30px 0;
    width: 25%;
    border: 0.5px solid rgb(210, 210, 210);
}

.section-btn {
    margin-right: auto;
    padding: 15px 30px;
    background-color: #0061FF;
    color: white;
}

.fa-building {
    color: black;
}

.container-main-top-row {
    margin-top: 3em;
    width: 100%;
}

.section-up-row {
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(210, 210, 210);
}

.section-down-row {
    display: flex;
    line-height: 1.5em;
    padding: 30px;
    font-size: 0.95em;
    width: 100%;
    border: 1px solid rgb(210, 210, 210);
}

.section-down-row h3 {
    font-size: 20pt;
    margin-bottom: 20px;
}

.width-row {
    width: 70%;
}

.contatti-btn {
    margin-left: 30px;
    padding: 15px 30px;
    background-color: #0061FF;
    color: white;
    height: 30%;
}

.container-main-top-bottom {
    display: flex;
    margin-top: 170px;
    align-items: flex-start;
}

.container-main-top-bottom img {
    min-width: 0;
    flex: 2 0 0;
}


.container-main-top-ulist {
    flex: 1 0 0;
    padding-top: 70px;
    padding-left: 40px;
    list-style: none;
    line-height: 1.5em;
}

.container-main-top-ulist li {
    margin-bottom: 30px;
}

.container-main-top-ulist span {
    border: 1px solid black;
    padding: 15px 20px;
}


/* main-center */

.container-main-center {
    margin-top: 150px;
    line-height: 1.5em;
}

.container-main-center-top {
    display: flex;
    flex-wrap: wrap;
}

.container-main-center-top h2 {
    text-align: center;
    font-size: 2.9em;
    flex-basis: 100%;
}

.container-main-center-top div {
    margin-top: 50px;
    flex: 1 0 300px;
    padding-right: 30px;

}

.container-main-center-top img {
    width: 100%;
}

.container-main-center-top h3 {
    line-height: 1.2em;
    margin-bottom: 30px;
} 

.container-team {
    margin-top: 200px;
}

.container-team h2 {
    margin-bottom: 50px;
    line-height: 1.2em;
    width: 80%;
}

.container-main-center-bottom {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 130px;
}

.container-uni-l, .container-overflow, .container-uni-r {
    flex: 2 0 0px;
    height: 640px;
}

.container-uni-l {
    display: inline;
} 

.sq-green {
    background-color: #A2D39B;
}

.sq-light-blue {
    background-color: #0093CE;
}

.sq-bordeux {
    background-color: #61082B;
}

.sq-orange {
    background-color: #FF1C1C;
}

.container-overflow {
    background-color: #F5F5F5;
}

.sq-red {
    background-color: #D5001F;
}

.sq-blue {
    background-color: #0D2481;
}

.sq-heavenly {
    background-color: #B4D0E7;
}

.sq-yellow {
    background-color: #FFD830;
}

.square {
    height: 50%;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.square img {
    align-items: center;
}

.container-overflow {
    padding: 50px;
}

.container-overflow p {
    margin-top: 50px;
    line-height: 1.5em;
}

.scroll {
    overflow: auto;
    margin-top: 30px;
    height: 100px;
}

.container-trial {
    width: 100%;
    background-color: #B4D0E7;
    display: flex;
    margin-bottom: 200px;
}

.trial {
    margin: 150px auto;
    max-width: 1000px;
    display: flex;
    gap: 98px;
}

.trial span {
    background-color: white;
    text-align: center;
    height: 40px;
    padding: 10px 0;
    flex: 1 0 0;
}

.trial h2 {
    flex: 2 0 0;
    color: #61082B;
}

.container-main-bottom {
    max-width: 1000px;
    margin: auto;
}

.container-requests {
    margin: 100px 0;
}

.container-faq {
    list-style: none;
}

.faq {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(210, 210, 210);
    width: 100%;
}

.faq h3 {
    padding: 30px 0;
}

.faq p {
    padding: 30px;
}

.information {
    line-height: 1.5em;
    padding-bottom: 15px;
    display: none;
}

.container-faq-bottom {
    border-bottom: 1px solid rgb(210, 210, 210);  
}

.fa-chevron-down {
    color: black;
}

.container-faq:hover .information {
    display: block;
}


/* footer */

footer {
    background-color: black;
    color: white;
}

.container-footer {
    max-width: 1400px;
    margin: auto;
}

.container-footer-top {
    display: flex;
}

.container-footer-list {
    margin: 150px 0;
    width: 100%;
}

.list-flex {
    display: flex;
    justify-content: space-between;
}

.list-flex li {
    list-style: none;
    margin-bottom: 20px;
}

.list-flex h3 {
    margin-bottom: 40px;
}

.container-footer-bottom {
    border-top: 1px solid white;
    width: 15%;
}

.language {
    display: flex;
    padding: 40px 0;
}

.language span {
    margin-left: 5px;
}

.fa-caret-up, .fa-earth-americas {
    color: white;
}

.btn-main {
    white-space: nowrap;
}