/* set generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}


/* header-top */

.container-list {
    display: flex;
    height: 70px;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navbar-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    width: 100%;
}

.ul-top {
    display: flex;
}

.ul-top li{
    list-style: none;
    align-items: center;
    margin: 1rem;
}

.ul-top a {
    text-decoration: none;
    color: black;
    height: 100%;
}


/* header-mix */

.ul-top .btn-top, .btn-prova {
    background-color: #0061FF;
    color: white;
    padding: 10px 20px;
}


/* header-bottom */

.container {
    padding-top: 70px;
    background-color: #B4D0E7;
}

.container-header {
    padding-top: 100px;
    max-width: 1200px;
    margin: auto;
}

.container-header h1 {
    font-size: 4.5em;
    font-weight: 800;
}

.flex-top {
    margin-top: 100px;
    display: flex;
}

.container-prova {
    width: 40%;
}

.container-img {
    position: relative;
    width: 100%;
}

.container-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.margin-bot {
    padding-bottom: 40px;
    line-height: 1.5em;
}

.arrow-down {
    padding: 10px 10px 0 0;
    font-size: 4em;
}